@using Mvc2Labb2.Data
@model Mvc2Labb2.ViewModels.ListMovieViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Titel", "Index", new { orderOnProperty="Titel",orderBy = Model.OrderByTitle switch
                {
                    OrderByType.None => OrderByType.Asc,
                    OrderByType.Asc => OrderByType.Desc,
                    _ => OrderByType.None
                    }})@if (Model.OrderByTitle == OrderByType.Asc)
                       {
                           <i class="fas fa-sort-up"></i> 
                       }else if (Model.OrderByTitle == OrderByType.Desc)
                       {
                           <i class="fas fa-sort-down"></i>
                       }</th>
            <th>
                @Html.ActionLink("År", "Index", new
                {
                    sortOnProperty = "ReleaseYear",
                    orderBy = Model.OrderByReleaseYear switch
                    {
                        OrderByType.None => OrderByType.Asc,
                        OrderByType.Asc => OrderByType.Desc,
                        _ => OrderByType.None
                        }
                })@if (Model.OrderByReleaseYear == OrderByType.Asc)
                  {
                      <i class="fas fa-sort-up"></i> 
                  }else if (Model.OrderByReleaseYear == OrderByType.Desc)
                  {
                      <i class="fas fa-sort-down"></i>
                  }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        <td>@item.Title</td>
        <td>@item.ReleaseYear</td>
        <td>
            | @Html.ActionLink("Detail", "Detail", new {id = item.FilmId}) |
        </td>
    </tr>
}
    </tbody>
</table>
