@using Mvc2Labb2.Data
@using Mvc2Labb2.ViewModels
@model Mvc2Labb2.ViewModels.ListMovieViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                
                @Html.OrderByLink(
                    Url,
                    new LinkPartialViewModel{
                        OrderByViewModel = 
                        {
                            PropertyName = "Titel",
                            OrderBy = Model.OrderByViewModel.OrderBy,
                            CurrentPropertyName = Model.OrderByViewModel.CurrentPropertyName
                        },
                        DisplayName = "Titel",
                        Action = "Index",
                        Controller = "Movie",
                        PagingViewModel = Model.PagingViewModel

                    })
            </th>
            <th>
                @Html.OrderByLink(
                    Url,
                    new LinkPartialViewModel
                         {
                        OrderByViewModel =
                        {
                            PropertyName = "ReleaseYear",
                            OrderBy = Model.OrderByViewModel.OrderBy,
                            CurrentPropertyName = Model.OrderByViewModel.CurrentPropertyName
                        },
                        DisplayName = "ReleaseYear",
                        Action = "Index",
                        Controller = "Movie",
                        PagingViewModel = Model.PagingViewModel

                    })
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
    <tr>
        <td>@item.Title</td>
        <td>@item.ReleaseYear</td>
        <td>
            | @Html.ActionLink("Detail", "Detail", new {id = item.FilmId}) |
        </td>
    </tr>
}
    </tbody>
</table>
<partial 
    name="_Pagination" 
    model="@(new LinkPartialViewModel
           {
               Controller = "Movie",
               Action = "Index",
               OrderByViewModel = Model.OrderByViewModel,
               PagingViewModel = Model.PagingViewModel
           })"
/>