@using Mvc2Labb2.Data
@using Mvc2Labb2.ViewModels
@model Mvc2Labb2.ViewModels.ListActorsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.OrderByLink(
                Url,
                new LinkPartialViewModel
                {
                    OrderByViewModel =
                    {
                        PropertyName = "FirstName",
                        OrderBy = Model.OrderByViewModel.OrderBy,
                        CurrentPropertyName = Model.OrderByViewModel.CurrentPropertyName
                    },
                    DisplayName = "FirstName",
                    Action = "Index",
                    Controller = "Actor",
                    PagingViewModel = Model.PagingViewModel

                })
        </th>
        <th>
            @Html.OrderByLink(
                Url,
                new LinkPartialViewModel
                {
                    OrderByViewModel =
                    {
                        PropertyName = "LastName",
                        OrderBy = Model.OrderByViewModel.OrderBy,
                        CurrentPropertyName = Model.OrderByViewModel.CurrentPropertyName
                    },
                    DisplayName = "LastName",
                    Action = "Index",
                    Controller = "Actor",
                    PagingViewModel = Model.PagingViewModel

                })
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>
                | @Html.ActionLink("Movies","ActorMovies","Movie",new{id=item.ActorId}) |
            </td>
        </tr>
    }
    </tbody>
</table>
<partial 
    name="_Pagination" 
    model="@(new LinkPartialViewModel
           {
               Controller = "Actor",
               Action = "Index",
               OrderByViewModel = Model.OrderByViewModel,
               PagingViewModel = Model.PagingViewModel
           })"
    />